{
  "Logging": {
    "LogLevel": {
      "Default": "Warning",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Jwt": {
    "Issuer": "https://api.echospace.com",
    "Audience": "https://echospace.com"
  },
  "OAuth": {
    "CallbackUrl": "https://api.echospace.com/api/auth/google-callback",
    "FrontendCallbackUrl": "https://echospace.com/auth-callback"
  }
}

